<h1>{{title}}</h1>
<div class="parent grid-parent">
  <div class="left-column" style="display:inline-block">
    <app-search></app-search>
    <app-messages></app-messages>
  </div>

  <div class="right-column" style="display:inline-block">
    <app-ts-graph></app-ts-graph>
    <app-ts-table></app-ts-table>
  </div>
</div>

